@import persistence.entity.AuthorisedUser
@(form: Form[AuthorisedUser])
<!DOCTYPE html>
<html>
    <head>
        <title>RE:invent Passwords</title>
        <link rel="icon" href="@routes.Assets.at("images/favicon.ico")">
        <link rel='stylesheet' href='@controllers.WebJarAssets.at("bootstrap.min.css")'>
        <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha256-KC5lAzGRWwscU0sTmXtd8ka5mt7Vk8a0L5JqOhwA28s= sha512-+f2l7T69JKgnn0+Lc8P0WpM4J34GfEIInTI+iLOQWekcR9KxXE1epKQkwzFIZ7mf12jQlCryh2HfZqS8GcpR8Q==" crossorigin="anonymous">
        <script type='text/javascript' src='@controllers.WebJarAssets.at("jquery.min.js")'></script>
        <script type='text/javascript' src='@controllers.WebJarAssets.at("bootstrap.min.js")'></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Sign in</h1>
            </div>
            @helper.form(routes.Authenticate.authenticate, 'class -> "form-horizontal") {
                @if(form.hasGlobalErrors) {
                    <div class="alert alert-danger fade in">
                    @form.globalError.message
                    </div>
                }
                @for(error <- form("email").errors) {
                    <div class="alert alert-danger fade in">@error.message</div>
                }
                <p>
                    <input type="email" name="email" value="@form("email").value" class="form-control" placeholder="Email address" required autofocus>
                </p>
                @for(error <- form("password").errors) {
                    <div class="alert alert-danger fade in">@error.message</div>
                }
                <p>
                    <input type="password" name="password" class="form-control" placeholder="Password" required>
                </p>
                <p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Authenticate</button>
                </p></div>
    </body>
</html>
}
