@import persistence.entity.Password
@(form: Form[Password])
@main("REInvent Passwords - Add Password") {
    <div class="page-header">
        <h2>Add Password</h2>
    </div>
    @helper.form(routes.AddPassword.add(), 'class -> "form-horizontal") {
        @if(form.hasGlobalErrors) {
            <div class="alert alert-danger fade in">
            @form.globalError.message
            </div>
        }
        @for(error <- form("email").errors) {
            <div class="alert alert-danger fade in">@error.message</div>
        }
        <label>Title:</label>
        <p>
            <input type="text" name="account" value="@form("account").value" class="form-control" placeholder="Any custom title" autofocus>
        </p>

        @for(error <- form("login").errors) {
            <div class="alert alert-danger fade in">@error.message</div>
        }
        <label>Login:</label>
        <p>
            <input type="text" name="login" value="@form("login").value" class="form-control" placeholder="The login/username" required>
        </p>

        @for(error <- form("password").errors) {
            <div class="alert alert-danger fade in">@error.message</div>
        }
        <label>Password:</label>
        <p>
            <input type="text" name="password" value="@form("password").value" class="form-control" placeholder="The password" required>
        </p>

        @for(error <- form("webSite").errors) {
            <div class="alert alert-danger fade in">@error.message</div>
        }
        <label>URL:</label>
        <p>
            <input type="url" name="webSite" value="@form("webSite").value" class="form-control" placeholder="The WebSite/URL">
        </p>

        @for(error <- form("comments").errors) {
            <div class="alert alert-danger fade in">@error.message</div>
        }
        <label>Comment:</label>
        <p>
            <input type="text" name="comments" value="@form("comments").value" class="form-control" placeholder="Any comments">
        </p>

        <p>
            <button class="btn btn-lg btn-success btn-block" type="submit">Add Password</button>
        </p>
        <p>
            <a class="btn btn-lg btn-danger btn-block" href="@routes.Passwords.index()">Cancel</a>
        </p>
    }
}
